#root{
  text-align: center;
}


.App {
  text-align: center;
  margin-top:200px;
}


html {
  background-color:rgb(27, 26, 26);
  font-family     : "Times New Roman", Times, serif;
  font-size       : 3.5em;
  color           : #eb32e1;
 
  
}

.wrapper {
  display        : flex;
  justify-content: space-evenly;
  align-items    : flex-end;
  margin-bottom     : 100px;
}

.title {
  margin     : 0;
  line-height: 0.55;
  font-size:3.5em;
  justify-content: center;
}
@media (max-width:540px){
 .new p{
  font-size:40px;
 }
 .search p{
  top:0;
  font-size:40px;
 }
}


span {
  display: inline-block;
}

.stack {
  display: block;
}

/*  Bouncing Animation */

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -50px, 0);
  }
}

.bouncing {
  animation                : bounce 0.4s;
  animation-iteration-count: infinite;
  animation-direction      : alternate;
}

input{
  height:60px;
  margin:20px;
  font-size:20px;
}

button {
  height:60px;
  width:100px;
  font-size:20px;
  }


nav div{
  width:350px;
}