@media(max-width:640px) {
    nav ul {
      width:100%;
    
    }
  }

  nav a {
      font-size:30px;
    }

  @media (max-width:740px){
    nav a{
      font-size:20px;
    }
  }
    
  

  @media (max-width:540px){
    nav a{
      font-size:10px;
          
    }

   ul li a:hover {
      font-size:15px;
    }
     
  }

  
 
  
header li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    list-style:none;
 }
  
header li a, header li a:hover {
   color:#FFF;
 }

li a:hover {
   font-weight: bold;
   color:white;
   text-decoration: none;
   font-size:0.7em;
 }
  
header ul {
    display:inline-flex;
    justify-content: space-around;
    background-color:#160808;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    margin:0;
    padding:0;
    width:100%;
    white-space:nowrap;
    height:60px;
    opacity:0.8;
    align-items:center;
    right: 0;
    left:0;
    
}
  
header ul:hover {
    opacity:1;
  }
